.center-app {
  text-align: center;
  margin-top: 80px;
}

.drug-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.second-title {
  color: rgb(104, 104, 104);
}

.remove-drug {
  cursor: pointer;
}

.drug-row {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 60px;
}

.search-result-row {
  height: 50px;
}

.prescription-table {
  border: 2px;
  border-style: solid;
  border-color: #dee2e6;
  border-radius: 20px;
}

.drug-search-container {
  height: 100px;
  z-index: 1000;
}

.search-result-list-item {
  z-index: 1000;
}

.drug-name {
  font-weight: bold;
}

.drug-type {
  font-size: 15px;
  color: rgb(104, 104, 104);
}
