.center-app {
  text-align: center;
}

.drug-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-align {
  text-align: right;
}

.drug-name {
  text-align: left;
}

.custom-dropdown-toggle {
  width: 1000px;
}

.remove-drug {
  cursor: pointer;
}

.drug-row {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 60px;
}
